
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Syne:wght@400;500;600&display=swap');

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    /* Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)
White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    background: hsl(0, 0%, 86%);
    height: 100vh;
    width: 100%;
    position: relative;
}
.age-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    height: 500px;
    background: hsl(0, 0%, 100%);
    border-bottom-right-radius: 25%;
    border-top-right-radius:20px ;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 0px 50px 0px;
}
.date-container .form{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;

}
.cont{
    margin-top: 30px;
}
.cont label{
    font-weight:800;
    font-size: 12px;
    color:hsl(0, 1%, 44%) ;
    letter-spacing: 3px;
}
.cont input{
    border: 1px solid hsl(0, 0%, 86%)!important;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 800;
    padding: 10px 0px 10px 15px;
    width: 130px;
    display: block;
    background: transparent !important;
    margin-top:5px ;
    margin-bottom: 10px;
    caret-color: hsl(259, 100%, 35%)!important;
    
}
.cont p{
    font-size: 11px;
    margin-bottom:20px ;
}
.cont input:focus,
.cont input:focus:active {
    border: 1px solid hsl(259, 100%, 65%)!important ;
    outline: 0;
}
.cont input::-webkit-input-placeholder::after {
    color: hsl(259, 100%, 65%)!important;
}
.btn-cont{
    display: flex;
    justify-content: end;
}
.btn{
    position: relative;
}
.btn-cont button:hover{
    background-color: hsl(0, 0%, 8%) ;
}
.btn-cont button {
   background-color: hsl(259, 100%, 65%);
   border: 0!important;
   outline: 0!important;
   padding: 10px;
   border-radius: 50%;
   z-index: 1000000!important;
   cursor: pointer;
   position: absolute;
}
.btn-cont::before{
    position: absolute;
    content: '';
    width: 75%;
    top:33% ;
    left: 9%;
    right: 75% ;
    background: hsl(0, 0%, 86%);
    height: 1px;
    z-index: 99!important;
}
.age-result {
    font-size: 35px;
    font-weight: bolder!important;
    position: absolute;
    top: 40%;
   
}
.age-result h2 i{
    font-weight: bolder!important;
     font-size: 55px;
}
span{
    color: hsl(259, 100%, 65%);
    font-size: 55px;
    font-weight :bolder;
   
}
.valid {
    display:none;
    color: red;
}
.validate{
    display: block !important;
}
/* @media screen and (max-width: 620px){
    .age-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 340px;
        width: 100%;
        height: 540px;
        background: hsl(0, 0%, 100%);
        border-bottom-right-radius: 25%;
        border-top-right-radius:20px ;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        padding: 30px 20px 0px;
        margin: 0px auto 0px;
    }
} */
@media screen and (max-width: 620px) and (min-width: 375px) {
    .age-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 340px;
        width: 100%;
        height: 540px;
        background: hsl(0, 0%, 100%);
        border-bottom-right-radius: 25%;
        border-top-right-radius:20px ;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        padding: 30px 20px 0px;
        margin: 0px auto 0px;
    }
    .date-container .form{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        position: relative;
    
    }
    .cont input{
        border: 1px solid hsl(0, 0%, 86%)!important;
        border-radius: 5px;
        font-size: 24px;
        font-weight: 800;
        padding: 10px 0px 10px 6px;
        width: 80px !important;
        display: block;
        background: transparent !important;
        margin-top:5px ;
        margin-bottom: 10px;
        caret-color: hsl(259, 100%, 35%)!important;
        
    }
    .btn-cont{
        display: flex;
        justify-content: center;
    }
    .btn{
        position: relative;
    }
    .btn-cont button:hover{
        background-color: hsl(0, 0%, 8%) ;
    }
    .btn-cont button {
       background-color: hsl(259, 100%, 65%);
       border: 0!important;
       outline: 0!important;
       padding: 10px;
       border-radius: 50%;
       z-index: 1000000!important;
       position: absolute;
       cursor: pointer;
    }
    .btn-cont button::before{
        display: none;
    }
    .btn-cont::before{
        position: absolute;
        content: '';
        width: 85%;
        top:41% ;
        left: 9%;
        right: 9% ;
        background: hsl(0, 0%, 86%);
        height: 1px;
        z-index: 0!important;
    }
    .age-result {
        font-size: 30px;
        font-weight: bolder!important;
        margin-bottom: 40px!important;
        margin-top: 15px;
        position: absolute;
        top : 46%;
       
    }
    .age-result h2 i{
        font-weight: bolder!important;
         font-size: 50px;
    }
    span{
        color: hsl(259, 100%, 65%);
        font-size: 50px;
        font-weight :bolder;
       
    }
}